<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- importing (installing) angular through the CDN provided on angularjs.org -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Student List</title>
</head>

<!-- 
    1st stage of initialization. the ng-app is the root of the angular application, it accepts the name
of the application. by convention we name it in lower camel case. 
-->
<body ng-app="studentListApp">
    <main>
        <!-- 
            the ng-controller tells angular which controller to use. (that controller will then 
            govern this section) 
        -->
        <section ng-controller="studentController">

            <form ng-submit="addStudent()">
                <h2>Student Information</h2>
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" ng-model="student.name" />
                </div>
                <div class="form-group">
                    <label>Roll No: </label>
                    <input type="text" ng-model="student.roll_no" />
                </div>
                <div class="form-group">
                    <label>Subject 1 marks: </label>
                    <input type="text" ng-model="student.marks.subject1" />
                </div>
                <div class="form-group">
                    <label>Subject 2 marks: </label>
                    <input type="text" ng-model="student.marks.subject2" />
                </div>
                <div class="form-group">
                    <label>Subject 3 marks: </label>
                    <input type="text" ng-model="student.marks.subject3" />
                </div>
                <button type="submit">Add Student</button>
            </form>
            <!-- show this table only if there is atleast 1 student in studentList -->
            <table ng-if="studentList.length > 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll</th>
                        <th>sub 1</th>
                        <th>sub 2</th>
                        <th>sub 3</th>
                        <th>percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for each  student in studentList -->
                    <tr ng-repeat="student in studentList">
                        <td>{{ student.name }}</td>
                        <td>{{ student.roll_no }}</td>
                        <td>{{ student.marks.subject1 }}</td>
                        <td>{{ student.marks.subject2 }}</td>
                        <td>{{ student.marks.subject3 }}</td>

                        <!-- will show when showPercentage property is false -->
                        <td ng-show="!student.showPercentage">
                            <button ng-click="showPercentage($index)">show percentage</button>
                        </td>

                        <!-- will show when the showPercentage property is true -->
                        <td ng-show="student.showPercentage">{{ student.percentage + '%' }} </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./student-list.js"></script>
    <script src="./controllers/student-list-controller.js"></script>
</body>

</html>